.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.navbar-left h1 {
  margin: 0;
}

.navbar-middle input {
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.navbar-right {
  font-size: 30px;
}

.hot-background {
  background-image: url('../../public/asset/Hot-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.warm-background {
  background-image: url('../../public/asset/Warm-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.fall-background {
  background-image: url('../../public/asset/Fall-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.cold-background {
  background-image: url('../../public/asset/Cold-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.rainy-background {
  background-image: url('../../public/asset/Rain-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.snow-background {
  background-image: url('../../public/asset/Snow-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.weather-info {
  margin: 100px auto;
  background-color: white;

  width: 70%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 오른쪽 정렬을 위해 변경 */
  justify-content: flex-start; /* 상단 정렬을 위해 변경 */
}

.weather-data-container {
  background-color: white;
  border-radius: 15px;
  width: 10%;
  text-align: center;
  padding: 20px;
  margin-right: 100px;
  margin-top: 100px;
}
